body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/hexellence.png");
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

.error
{
	color:red;
	margin-top: 10px;
	margin-bottom: 10px;
}

table, th, td {
	border: 1px solid black;
}
		
input[type=text],
input[type=password]
{
	width: 400px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]
{
	width: 150px;
	background-color: #FFC300;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
	background-color: #FFF639;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}

.wrapper
{
	width: 100%;
}

.header
{
	width:100%;
	padding: 40px 0;
}

.logo
{
	width: 100%;
	text-align: center;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
}

.search
{
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
}

.nav
{ 
	width: 100%;
	padding: 10px 0;
	background-color: #006A96;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}

.content
{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-top: 10px;
	min-height: 500px;
}

.display
{
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #322C6E;
	border-radius: 5px;
	border-width: 1px;
	width: 100%;
	height: 100px;
	padding: 10px;
	margin-top: 10px;
}
.displaynarrow
{
	background-color: #FFFFFF;
	border-style: solid;
	border-color: cf6969;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
}

.display1
{
	width: 50%;
	float:left;
}
.display2
{
	width: 30%;
	float:left;
}
.display3
{
	width: 20%;
	float:left;
}

.title
{
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}

ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ol > li:hover
{
	background-color: #FFC300;
}

ol > li:hover > a
{
	color: #451717;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:#FFC300;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}

ol > li > ul > li:hover
{
	background-color: #FFC300;
}

ol > li > ul > li:hover > a
{
	color: #451717;
}